<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <% if @model == 'user' %>
        <h3>ユーザーを検索 "<%= @content %>"</h3>
        <%= render 'user/users/index', users: @records %>
      <% elsif @model == 'novel' %>
        <h3>小説を検索 "<%= @content %>"</h3>
        <%= render 'user/novels/index', novels: @records %>
      <% end %>
    </div>
  </div>
</div>