<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'novel' %>
  <h3>Books search for "<%= @content %>"</h3>
  <%= render 'novels/index', novels: @records %>
<% end %>