<%= form_with model:novel,local:true do |f| %>
  <div class="form-group">
    <p><%=link_to"ブックマーク一覧",bookmarks_user_path(@user),class: "btn btn-outline-secondary btn-block" %></p>
  </div>
<% end %>
