<%= form_with model:novel,local:true do |f| %>
  <div class='row'>
    <%= link_to bookmarks_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
      ブックマーク一覧  <i class="fa-solid fa-book-bookmark"></i>
    <% end %>
  </div>
<% end %>
