<table class="table">
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= link_to bookmark.title, user_novel_path(bookmark) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>