<table class="table">
        <tbody>
          <% @bookmarks.each do |post| %>
          <tr>
            <td>
              <%= link_to post.title, user_novel_path(@novel) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>