<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>小説改稿</h4>
        <%= render 'layouts/errors', obj: @novel %>
        <%= render 'editing', novel: @novel %>
        <%= link_to 'Show', @novel, class: "novel_#{@novel.id}" %> |
        <%= link_to 'Back', novels_path, class: "back" %>
    </div>
  </div>
</div>