<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @novel %>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>小説一覧</h2>
      <%= render 'index', novels: @novels %>
    </div>
  </div>
  <div class ="d-flex justify-content-center">
    <%= paginate @novels %>
  </div>
</div>