<div class="container">
  <div class="row">
    <div class="col">
      
      <h4>投稿へのコメント一覧</h4>
      
      <table class='table table-hover table-inverse'>
        <tr>
          <th>ユーザー</th>
          <th>コメント</th>
          <th></th>
          <th>コメントした投稿</th>
          <th></th>
        </tr>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.user.name %></td>
            <td><%= comment.comment %></td>
            <td>
              <%= link_to '削除', admin_novel_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger" %>
            </td>
            <td><%= comment.novel.title %></td>
          </tr>
        <% end %>
      </table>

      
    </div>
  </div>
</div>