<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="mb-5 mt-3">
        <div class="row">
          <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-warning btn-lg btn-block mb-4 sign_in" %>
        </div>
        <div class="row">
          <%= link_to "コメント一覧", admin_novel_comments_path, class: "btn btn-secondary btn-lg btn-block mb-4 sign_up" %>
        </div>
        <div class="row">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger btn-lg btn-block mb-4 sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
