<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2><%= image_tag("logo1.png", alt: "ろまんの画像", width: "150px", height: "40px") %>について</h2>
      <table class='table'>
        <tr>
          <td>
            <h3>★ご案内</h3>
            ・｢ろまん｣は小説投稿型コミュニティサイトです。</br>
            ・小説を読みたい方・小説を書いてみたい方等、多くの方のための小説サイトです。</br>
            ・小説を自由に投稿したり、投稿物をお読みできます。
          </td>
        </tr>
        <tr>
          <td>
            <h3>★利用について</h3>
            ・｢ろまん｣は無料サイトです。有料サービスはご用意しておりません。</br>
            ・作品の投稿、ブックマーク機能等の活用の際には会員登録をお願いいたします。</br>
            ・<strong>登録はこちらから</strong>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm sign_up" %>
          </td>
        </tr>
        <tr>
          <td>
            <h3>★注意事項</h3>
            ・作品、コメントの投稿にあたっては、次の事項を遵守してください。<br>
            &emsp;&ensp;-他人が不快になる内容でないこと。<br>
            &emsp;&ensp;-他人の財産、プライバシー等を侵害するものでないこと。<br>
            &emsp;&ensp;-他人の名誉を毀損し、または他人を誹謗中傷するものでないこと。<br>
            &emsp;&ensp;-著作権など知的財産権を侵害しないこと。<br>
            ・注意事項に反していると判断したときは、投稿の削除、又はユーザーの利用を停止する場合があります。
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>