<h1>小説詳細</h1>

<h2>コメント一覧</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>コメント内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @novel.novel_comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to '削除', admin_novel_novel_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>